Magic 271485
Revision Verdi_W-2024.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 29 1280 591 252 80

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/eric1231/code/5-rv32i/wave.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 326354.620039 326762.023640
cursor 326484.97151664336
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
userMarker 324444.76 "42 ori" ID_GREEN5 long_dashed
userMarker 325244.544 "43 ori" ID_GREEN5 long_dashed
userMarker 326004.913 "44 ori" ID_GREEN5 long_dashed
userMarker 326802.764 "45 ori" ID_GREEN5 long_dashed
userMarker 287764.443 Main ID_GREEN5 long_dashed

; visible top row signal index
top 8
; marker line index
markerPos 19

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByValue


addGroup "System"
activeDirFile "" "/home/eric1231/code/5-rv32i/wave.fsdb"
addSignal -h 15 /tb_top/TOP/core_0/ACLK
addSignal -h 15 -holdScope ARESETn
addSignal -h 15 /tb_top/TOP/core_0/core_0/global_stall_en
addGroup "AXI-IMEM"
addSignal -h 15 -UNSIGNED -HEX /tb_top/TOP/AXI/ARADDR_M0[31:0]
addSignal -h 15 -holdScope ARVALID_M0
addSignal -h 15 -UNSIGNED -HEX -holdScope RDATA_M0[31:0]
addSignal -h 15 /tb_top/TOP/core_0/debug_core_0/imem_inst
addSignal -h 15 /tb_top/TOP/AXI/RVALID_M0
addGroup "IF"
addSignal -h 15 /tb_top/TOP/core_0/core_0/IF_stage/stall_en
addSignal -h 15 /tb_top/TOP/core_0/core_0/Hazard_u/load_stall
addSignal -h 15 /tb_top/TOP/core_0/core_0/IF_stage/jump_en
addSignal -h 15 -UNSIGNED -HEX -holdScope jump_addr_i[31:0]
addSignal -h 15 -UNSIGNED -holdScope hold_pc_for_next_rvalid[1:0]
addSignal -h 15 -holdScope jump_penalty
addSignal -h 15 -UNSIGNED -HEX /tb_top/TOP/core_0/core_0/counter[1:0]
addSignal -h 15 -holdScope current_inst
addSignal -h 15 -holdScope if_inst_cache
addSignal -h 15 /tb_top/TOP/core_0/debug_core_0/if_disasm
addSignal -h 15 -UNSIGNED -HEX /tb_top/TOP/core_0/core_0/IF2ID_buffer/if_id_bus_in.ex.pc[31:0]
addSignal -h 15 -UNSIGNED -HEX /tb_top/TOP/core_0/core_0/IF_stage/pc_o[31:0]
addGroup "IF2ID"
addSignal -h 15 /tb_top/TOP/core_0/core_0/IF2ID_buffer/flush_en
addSignal -h 15 -holdScope stall_en
addGroup "ID"
addSignal -h 15 /tb_top/TOP/core_0/debug_core_0/id_disasm
addSignal -h 15 -UNSIGNED -HEX -holdScope id_pc[31:0]
addGroup "ID2EX"
addSignal -h 15 /tb_top/TOP/core_0/core_0/ID2EX_buffer/flush_en
addSignal -h 15 -holdScope stall_en
addGroup "EX"
addSignal -h 15 /tb_top/TOP/core_0/debug_core_0/ex_disasm
addSignal -h 15 -UNSIGNED -HEX -holdScope ex_pc[31:0]
addSignal -h 15 -holdScope ex_rd_abi
addSignal -h 15 -holdScope ex_rs1_abi
addSignal -h 15 -UNSIGNED -HEX -holdScope ex_rs1_data[31:0]
addSignal -h 15 -holdScope ex_rs2_abi
addSignal -h 15 -UNSIGNED -HEX -holdScope ex_rs2_data[31:0]
addSignal -h 15 -UNSIGNED /tb_top/TOP/core_0/core_0/EX_stage/alu_rs1_data_sel_i[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rs1_data_mem_forward_i[31:0]
addSignal -h 15 -UNSIGNED -holdScope alu_rs2_data_sel_i[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rs2_data_mem_forward_i[31:0]
addSignal -h 15 -UNSIGNED -HEX /tb_top/TOP/core_0/debug_core_0/ex_imm[31:0]
addSignal -h 15 -UNSIGNED -HEX /tb_top/TOP/core_0/core_0/EX_stage/alu_result_o[31:0]
addGroup "EX2MEM"
addSignal -h 15 /tb_top/TOP/core_0/core_0/EX2MEM_buffer/stall_en
addGroup "AXI-DMEM Read Channel"
addSignal -h 15 -UNSIGNED -HEX /tb_top/TOP/AXI/ARADDR_M1[31:0]
addSignal -h 15 -holdScope ARVALID_M1
addSignal -h 15 -UNSIGNED -HEX -holdScope RDATA_M1[31:0]
addSignal -h 15 -holdScope RVALID_M1
addGroup "AXI-DMEM Write Channel"
addSignal -h 15 -UNSIGNED -HEX /tb_top/TOP/AXI/AWADDR_M1[31:0]
addSignal -h 15 -holdScope AWVALID_M1
addSignal -h 15 -UNSIGNED -HEX -holdScope WDATA_M1[31:0]
addSignal -h 15 -holdScope WVALID_M1
addSignal -h 15 -holdScope BVALID_M1
addGroup "memory peripheral"
addSignal -h 15 -UNSIGNED -HEX /tb_top/TOP/mem0/mem0/dmem_addr[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid_dmem_addr[18:0]
addSignal -h 15 -holdScope dmem_ren
addSignal -h 15 -UNSIGNED -HEX -holdScope dmem_rdata[31:0]
addSignal -h 15 -holdScope dmem_wen
addSignal -h 15 -UNSIGNED -HEX -holdScope dmem_wdata[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dmem_wstrb[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope wdata_mask[31:0]
addGroup "MEM"
addSignal -h 15 /tb_top/TOP/core_0/debug_core_0/mem_disasm
addSignal -h 15 -UNSIGNED -HEX -holdScope mem_pc[31:0]
addSignal -h 15 -UNSIGNED -HEX /tb_top/TOP/core_0/core_0/MEM_stage/mem_addr_o[31:0]
addSignal -h 15 -holdScope mem_ren_o
addSignal -h 15 -UNSIGNED -HEX -holdScope mem_rdata_i[31:0]
addSignal -h 15 -holdScope mem_wen_o
addSignal -h 15 -UNSIGNED -HEX -holdScope mem_wstrb_o[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope mem_wdata_o[31:0]
addGroup "MEM2WB"
addSignal -h 15 /tb_top/TOP/core_0/core_0/MEM2WB_buffer/stall_en
addGroup "WB"
addSignal -h 15 /tb_top/TOP/core_0/debug_core_0/wb_disasm
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_pc[31:0]
addSignal -h 15 /tb_top/TOP/core_0/core_0/RegFile_u/wen
addSignal -h 15 -UNSIGNED /tb_top/TOP/core_0/core_0/WB_stage/wb_wdata_sel_i[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rd_wdata_o[31:0]
addGroup "G15"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/eric1231/code/5-rv32i/wave.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/tb_top"
"/tb_top/TOP"
"/tb_top/TOP/AXI"
"/tb_top/TOP/core_0"
"/tb_top/TOP/core_0/core_0"
"/tb_top/TOP/core_0/core_0/EX2MEM_buffer"
"/tb_top/TOP/core_0/core_0/EX_stage"
"/tb_top/TOP/core_0/core_0/Hazard_u"
"/tb_top/TOP/core_0/core_0/ID2EX_buffer"
"/tb_top/TOP/core_0/core_0/ID_stage"
"/tb_top/TOP/core_0/core_0/IF2ID_buffer"
"/tb_top/TOP/core_0/core_0/IF_stage"
"/tb_top/TOP/core_0/core_0/MEM2WB_buffer"
"/tb_top/TOP/core_0/core_0/MEM_stage"
"/tb_top/TOP/core_0/core_0/RegFile_u"
"/tb_top/TOP/core_0/core_0/WB_stage"
"/tb_top/TOP/core_0/debug_core_0"
"/tb_top/TOP/mem0"
"/tb_top/TOP/mem0/mem0"

SCOPE_LIST_BEGIN
"/tb_top"
"/tb_top_vcs"
"/tb_top_vcs/TOP"
"/tb_top_vcs/TOP/core_0/core_0"
"/tb_top_vcs/TOP/AXI"
"/tb_top_vcs/TOP/core_0"
"/tb_top_vcs/TOP/core_0/core_0/IF_stage"
"/tb_top_vcs/TOP/mem0/mem0"
"/tb_top_vcs/TOP/mem0"
"/tb_top_vcs/TOP/core_0/core_0/IF2ID_buffer"
"/tb_top_vcs/TOP/core_0/core_0/ID_stage"
"/tb_top_vcs/TOP/core_0/core_0/ID2EX_buffer"
"/tb_top_vcs/TOP/core_0/core_0/EX_stage"
"/tb_top_vcs/TOP/core_0/core_0/EX2MEM_buffer"
"/tb_top_vcs/TOP/core_0/core_0/MEM_stage"
"/tb_top_vcs/TOP/core_0/core_0/MEM2WB_buffer"
"/tb_top_vcs/TOP/core_0/core_0/WB_stage"
"/tb_top_vcs/TOP/core_0/core_0/RegFile_u"
"/tb_top/TOP"
"/tb_top/TOP/core_0"
"/tb_top/TOP/core_0/core_0"
"/tb_top/TOP/core_0/core_0/IF_stage"
"/tb_top/TOP/core_0/core_0/ID_stage"
"/tb_top/TOP/core_0/core_0/IF2ID_buffer"
"/tb_top/TOP/AXI"
"/tb_top/TOP/core_0/core_0/EX_stage"
"/tb_top/TOP/core_0/core_0/ID2EX_buffer"
"/tb_top/TOP/core_0/core_0/MEM_stage"
"/tb_top/TOP/core_0/core_0/WB_stage"
"/tb_top/TOP/core_0/core_0/RegFile_u"
"/tb_top/TOP/core_0/core_0/EX2MEM_buffer"
"/tb_top/TOP/core_0/core_0/MEM2WB_buffer"
"/tb_top/TOP/core_0/debug_core_0"
"/tb_top/TOP/mem0"
"/tb_top/TOP/core_0/core_0/EX_stage/ALU_u"
"/tb_top/TOP/mem0/mem0"
"/tb_top/TOP/core_0/core_0/Hazard_u"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END



FILTER_SIGNAL_BEGIN

"*"

FILTER_STRING_LIST_BEGIN
"0000_008c"
FILTER_STRING_LIST_END

FILTER_TYPE_LIST_BEGIN
"All"
"Input"
"Output"
"Inout"
"Net"
"Register"
"Buffer"
"Linkage"
"ClassTransaction"
"Property"
"Others"
FILTER_TYPE_LIST_END

FILTER_SIGNAL_END
